.users {
    max-width: 995px;
    margin: 0 auto;
    overflow: hidden;
}

.users__info {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0;
}

.users__head {
    font-family: "AlegreyaSansSC-Medium";
    font-weight: lighter;
    font-size: 35px;
}

.users__count {
    font-family: "AlegreyaSansSC-Medium";
    font-weight: lighter;
    font-size: 35px;
    color: #E0E0E0;
}

.users__add {
    color: #000000;
}

.users__box {
    display: flex;
    padding: 15px 0 0;
    width: max-content;
}